<h3>Welcome, <%=@user.first_name%></h3>
<% @posts = Post.where(user_id: session[:id])%>
<%# <a href='/logout'>Logout</a> %>

<form action="/delete"<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Account</button>
</form>



<div class="">
<h3>What do you want to write about today?</h3>

<form method="POST" action="/post/new">
  <input type="text" name="post_name" placeholder="Post Name">
  <input type="text" name="content" placeholder="Content">

  <button type="submit">Post</button>

</form>
</div>

<!-- This is the main profile past posts -->
<div class="row">
  <div class="col s9 push-s3">
    <% @posts.each do |post|%>
    <section class="section section center">
   
        <div class="container-profilePost">
          <div >
            <div class="card">
              <div class="card-image">
                <img src="/images/sky.jpg" alt="">
              </div>
              <div class="card-content">
                <a href='/post/<%=post.id%>'><h4> <%=post.post_name%></h4></a> <p><h5> <%=post.content%></h5> </p>
              </div>     
            </div>
          </div>
        </div>    

    </section>
    <%end%>
  </div>
<!-- Recent Posts by other users -->
  <div class="col s3 pull-s9">
      <div><h3>Recent Posts</h3></div>
      <div class="scrollbar" id="bar"></div>
      <div class="card blue lighten-4" id="scrollbar">
          <div class="content"></div>
       
            <% @postids.each do |id| %>
            <%= @notposts = Post.where.not(id: id) %>
            <% @notposts.each do |posts| %>
          <div class="card-content white-text">
              <span class="card-title"><a href='/posts/<%=posts.id%>'><h5> <%=posts.post_name%></h5></a></span>
                <p><h6><%=posts.content.truncate(85, separator: ' ')%></h6> </p>
          </div>
            <% end %>
            <%end%>
      </div>
    </div>
</div>  

	
